#msi {
  background: #000;
  color: #fff;
}

#msi h1 {
  font-size: 2.5em;
  color: #959595;
  overflow: hidden;
  line-height: 1.2em;
  border-bottom: none;
  text-transform: uppercase;
}

#msi h2 {
  font-family: Klaviaka_Condensed_Medium;
  font-size: 2em;
  width: 100%;
  color: #fff;
  background: #ef070d;
  overflow: hidden;
  line-height: 1.2em;
  border-bottom: none;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: none;
}

#msi h3 {
  font-size: 1.5em;
  text-transform: none;
  text-align: left;
  color: #959595;
  overflow: hidden;
  line-height: 1.2em;
  border-bottom: 2px solid #959595;
  padding-left: 10px;
}

#msi a {
  color: #ef070d;
  text-decoration: underline;
}

#msi p.kategorielink a {
  color: #ef070d;
}

#msi p.kategorielink a:after {
  content: " »";
}

#msi p, #msi .image-text p {
  padding: 10px;
}

#msi table {
  width: 100%;
  border-collapse: collapse;
  color: #fff;
  border: 1px solid #f1f1f1;
  margin: 20px auto;
}

#msi table tbody tr th, #msi table tbody tr td {
  text-align: center;
  padding: 10px;
}

#msi table tbody tr:nth-child(even) {
  background: #555;
}

#msi table tbody tr:nth-child(odd) {
  background: #333;
}

#msi table tbody td:nth-child(0n+1) {
  text-align: left;
  font-weight: 700;
}

#msi .table-highlight {
  border-left: 2px solid #ef070d;
  border-right: 2px solid #ef070d;
  color: #ef070d;
  font-weight: 700;
}

#msi .text-center {
  text-align: center;
}

#msi .msres_textarea {
  width: 100%;
  min-height: 250px;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 20px;
  float: left;
}

#msi .msres_textarea img {
  padding: 30px;
}

#msi .msres_textarea p {
  padding: 20px;
  font-size: 16px;
}

#msi .ms_light {
  background: #ef070d;
  color: #fff;
}

#msi .ms_light a {
  color: #fff;
  text-decoration: underline;
}

#msi .ms_light a:after {
  content: " »";
}

#msi .ms_light h2, #msi .ms_light h3 {
  color: #f1f1f1;
}

#msi .ms_light h3 {
  border-bottom: 3px dashed #f1f1f1;
}

#msi .ms_links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  clear: both;
  margin-top: 20px;
  padding: 15px 0;
}

#msi .ms_links h2, #msi .ms_links h3 {
  color: #fff;
}

#msi .ms_links img {
  width: 100%;
  margin-bottom: 10px;
}

#msi .ms_links div {
  flex: 0 1 17%;
  border: 5px solid #777;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

#msi .ms_links div div {
  border: none;
  padding: 0px;
  display: block;
}

#msi .ms_links div div:hover span {
  color: #ef070d;
}

#msi .ms_links div:hover {
  border: 5px solid #ef070d;
}

#msi .ms_links div div:hover {
  border: none;
}

#msi .ms_links span {
  text-transform: uppercase;
  color: #fff;
  font-size: 1em;
  margin-top: 10px;
}

#msi .ms_prod {
  background: #000;
  margin: 0;
}

.ms_prod span {
  display: block;
}

#msi .ms_prod p {
  padding: 15px 0;
}

#msi .ms_prod img {
  max-width: 250px;
}

#msi a.ms_prod_name {
  font-family: 'Roboto_Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 5px 0;
  padding: 0;
  transition: all .3s;
}

#msi a.ms_prod_name:hover {
  text-decoration: none;
  transition: all .3s;
}

#msi .ms_prod_artnr {
  color: rgba(160, 160, 160, 1.0);
  margin: 5px 0;
  padding: 0;
  font-size: 1em;
}

#msi .ms_prod_prize {
  font-family: 'Roboto_Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: inherit;
  margin: 10px 0 0;
  padding: 0;
}

#msi .ms_prod_ust {
  font-size: .8em;
  color: rgba(160, 160, 160, 1.0);
  margin: 0;
  padding: 0;
}

#msi .ms_prod_ust a {
  color: inherit;
  font-size: inherit;
  text-decoration: underline;
}

#msi .ms_button {
  font-size: 1em;
  display: inline-block;
  text-transform: uppercase;
  color: #ef070d;
  font-weight: 700;
  border: 2px solid #ef070d;
  text-align: center;
  text-decoration: none;
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 0;
  transition: all .3s
}

#msi .ms_button::after {
  content: none;
}

#msi .ms_button:hover {
  color: #fff;
  background: none;
  border: 2px solid #fff;
  text-decoration: none;
  transition: all .5s;
}

#msi .ms_vergleich {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  clear: both;
  margin-top: 20px;
  padding: 15px 0;
}

#msi .ms_vergleich img {
  width: 100%;
  padding: 10px;
}

#msi .ms_vergleich div {
  padding-bottom: 20px;
  flex: 0 1 12%;
}

#msi .ms_vergleich span {
  display: block;
}

#msi .ms_vergleich .ms_prod_name {
  font-family: 'Roboto_Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.7em;
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 5px 0;
  padding: 0;
  transition: all .3s;
}

#msi .image-text div {
  text-align: left;
  background: #000;
  color: #fff;
  padding: 0 20px;
}

#msi .markenseite div.unterboxen.serien div h3 {
  text-align: center;
  border: none;
  padding: 0;
  margin: 0;
}

#msi .markenseite div.unterboxen.serien div p {
  text-align: left;
}

#msi .markenseite div.unterboxen.serien div img {
  max-width: 80%;
  margin-top: 10px;
}

#msi .row div p:first-child::first-letter {
  float: left;
  font-weight: bold;
  font-size: 50px;
  font-size: 5rem;
  line-height: 50px;
  line-height: 5rem;
  height: 5rem;
  text-transform: uppercase;
  background: #959595;
  color: #ef070d;
  padding: 0 5px;
  margin-right: 10px;
}

#msi .markenseite div.unterboxen.serien {
  justify-content: space-evenly;
}

#msi .markenseite div.unterboxen.serien div {
  flex: 0 0 22%;
  background: #333;
  margin: 10px;
  border-top: 4px solid #ef070d;
}

#msi .markenseite div.unterboxen.serien div:hover {
  border-top: 4px solid #fff;
}

#msi div.unterboxen div h3 {
  border-bottom: none;
  text-align: center;
  color: #ef070d;
  display: block;
}

#msi .product_single_row {
  margin: 10px 20px;
}

#msi .product_single_row img {
  border: 5px solid #ef070d;
  padding: 10px;
  background: #fff;
}

#msi .product_single_row b {
  color: #ef070d;
}

#msi .ms_fragen {
  background: #ef070d;
  margin: auto;
  width: 80%;
}

#msi .ms_fragen b {
  background: #333;
  padding: 7px;
}

#msi .ms_fragen p {
  line-height: 2.2em;
}

/* Mobile*/
@media screen and (max-width: 1670px) {}

@media screen and (max-width: 850px) {}

@media screen and (max-width: 750px) {}

@media screen and (max-width: 600px) {
  #msi .ms_links div {
    flex: 0 1 45%;
  }

  #msi .product_single_row p {
    padding: 0;
    margin: 0;
  }

  #msi .ms_fragen {
    background: #ef070d;
    margin: auto;
    width: 100%;
  }

  </style>