#patriot-viper {
  background: #000;
  color: #fff;
}

#patriot-viper h1 {
  font-size: 2.5em;
  font-weight: 900;
  letter-spacing: -1px;
  color: #fff;
  overflow: hidden;
  line-height: 1.2em;
  border-bottom: none;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding: 10px;
}

#patriot-viper h1 {
  width: 75%;
  background-color: #fc0000;
  background: linear-gradient(297deg, transparent 45px, #fc0000 0);
}

#patriot-viper h2 {
  font-size: 3em;
  color: #fff;
  margin: 10px auto;
  letter-spacing: -1px;
  overflow: hidden;
  text-transform: none;
  line-height: 1.2em;
  text-transform: uppercase;
  border-bottom: 0px;
  border-bottom: none;
  font-weight: 900;
}

#patriot-viper h3 {
  font-size: 1.6em;
  color: #fff;
  letter-spacing: -1px;
  overflow: hidden;
  text-transform: none;
  line-height: 1.2em;
  text-transform: uppercase;
  border-bottom: 0px;
  border-bottom: none;
  font-weight: 900;
  margin: 0 auto;
}

#patriot-viper h4 {
  text-align: center;
  display: table;
  padding: 10px;
  color: #fff;
  margin: 1em auto;
  border: none;
}

#patriot-viper a {
  color: #fff;
  text-decoration: underline;
}

#patriot-viper strong {
  color: #fc0000 !important;
}

#patriot-viper p.kategorielink a {
  color: #000;
  text-align: justify;
}

#patriot-viper p.kategorielink a:after {
  content: " »";
}

#patriot-viper p, #patriot-viper .image-text p {
  padding: 10px 10px 0px 0px;
}

#patriot-viper_core table {
  width: 100%;
  border-collapse: collapse;
  color: #444444;
  border: 1px solid #444444;
  margin: 20px auto;
}

#patriot-viper table tbody tr th, #catDatapage table tbody tr td {
  text-align: center;
  padding: 10px;
}

#patriot-viper table tbody tr:nth-child(even) {
  background: #333333;
}

#patriot-viper .table-highlight {
  border-left: none;
  border-right: none;
  color: #fff;
  background: #fc0000;
  opacity: 0.75;
}

#patriot-viper .flexbox-container div {
  flex: 0 0 50%;
}

#patriot-viper .flexbox-container img {
  max-width: 100%;
}

#patriot-viper .text-center {
  text-align: center;
}

#patriot-viper .msres_textarea {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  clear: both;
  margin-top: 0px;
  padding: 15px 0;
}

#patriot-viper .msres_textarea div {
  flex: 0 0 47%;
}

#patriot-viper .msres_textarea p {
  font-size: 14px;
  text-align: justify;
}

#patriot-viper .msres_textarea img {
  width: 100%;
  padding-right: 10px;
}

#patriot-viper .ms_light {
  background: #fc0000;
  color: #fff;
}

#patriot-viper .ms_light a {
  color: #fff;
  text-decoration: underline;
}

#patriot-viper .ms_light a:after {
  content: " »";
}

#patriot-viper .ms_light h2 {
  color: #fff;
  border-bottom: none;
}

#patriot-viper .ms_light h3 {
  color: #fc0000;
  border-bottom: none;
}

#patriot-viper .ms_links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  clear: both;
  padding: 35px 0;
  border-bottom: 10px solid #fc0000;
  border-top: 10px solid #fc0000;
}

#patriot-viper .ms_links img {
  width: 100%;
  margin-bottom: 10px;
}

#patriot-viper .ms_links div {
  flex: 0 0 15%;
  padding: 0;
  padding-bottom: 20px;
  margin-bottom: 10px;
  -webkit-box-shadow: 4px 4px 10px 1px #7A7A7A;
  box-shadow: 4px 4px 10px 1px #7A7A7A;
  border: none;
  background: none;
}

#patriot-viper .ms_links div div {
  border: none;
  padding: 0px;
  display: block;
}

#patriot-viper .ms_links div:hover {
  border: 4px solid #fc0000;
  transition: all .5s ease-in-out;
}

#patriot-viper .ms_links span {
  text-transform: uppercase;
  color: #000;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-top: 10px;
  font-weight: 900;
}

#patriot-viper .ms_prod {
  margin: 0;
  display: flex;
  justify-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
  clear: both;
  margin-top: 20px;
  padding: 15px 0;
  border-bottom: 10px solid #fc0000;
  border-top: 10px solid #fc0000;
}

#patriot-viper .ms_prod div {
  flex: 0 0 25%;
  padding: 10px;
}

#patriot-viper span.ms_prod_name {
  display: block;
  font-size: 1.5em;
  color: #000;
  line-height: 1em;
  letter-spacing: -1px;
  overflow: hidden;
  text-transform: none;
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-bottom: 0px;
  border-bottom: none;
  font-weight: 900;
}

#patriot-viper .ms_prod .ms_button {
  font-size: 1em;
  color: #fc0000;
  display: inline-block;
  padding: 10px 20px;
}

#patriot-viper .ms_prod p {
  padding: 16px 0;
}

#patriot-viper .ms_prod a {
  text-decoration: none;
}

#patriot-viper .ms_prod img {
  max-width: 250px;
}

#patriot-viper .ms_prod_artnr {
  color: #333;
  margin: 5px 0;
  padding: 0;
  font-size: 1em;
}

#patriot-viper .ms_button {
  font-size: 1em;
  display: inline-block;
  text-transform: none;
  color: #fff;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border: 2px solid #fc0000;
  margin: 20px 10px;
  padding: 10px 20px;
  border-radius: 0;
  transition: all .3s
}

#patriot-viper .ms_button::after {
  content: none;
}

#patriot-viper .ms_button:hover {
  color: #fff;
  background: #fc0000;
  border: 2px solid #fc0000;
  text-decoration: none;
  transition: all .5s;
}

#patriot-viper .ms_vergleich {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  clear: both;
  margin-top: 20px;
  padding: 15px 0;
}

#patriot-viper .ms_vergleich img {
  width: 100%;
  padding: 10px;
}

#patriot-viper .ms_vergleich div {
  padding-bottom: 20px;
  flex: 0 1 12%;
}

#patriot-viper .ms_vergleich span {
  display: block;
}

#patriot-viper .ms_vergleich .ms_prod_name {
  font-size: 1.7em;
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 5px 0;
  padding: 0;
  transition: all .3s;
}

#patriot-viper .image-text div {
  text-align: justify;
  padding: 0 20px;
}

#patriot-viper div.unterboxen div {
  border: 1px solid #595f65;
  padding: 20px;
  margin: 20px;
  flex: 0 0 45%;
  background: #333;
}

#patriot-viper div.unterboxen div h3 {
  color: #fc0000;
  border: none;
}

#patriot-viper .product_single_row {
  margin: 0px;
  border: 0px;
}

#patriot-viper .product_single_row img {
  padding: 0px;
  max-width: 300px;
  margin: 0 auto;
}

#patriot-viper .product_single_row p {
  text-align: justify;
}

#patriot-viper .ms_fragen {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  clear: both;
}

#patriot-viper .ms_fragen div {
  flex: 0 0 48%;
  margin: 10px;
  background: #fff;
  border: 2px dashed #000000;
}

#patriot-viper .ms_fragen p {
  line-height: 1.5em;
  padding: 15px;
}

#patriot-viper .ms_single {
  margin: 50px 15em;
  margin-top: 30px;
}

#patriot-viper .ms_single p {
  text-align: justify;
}

#patriot-viper .ms_single h2 {
  margin-top: 5px;
}

#patriot-viper .fragen {
  border: 0px solid #fc0000;
  padding: 20px;
}

#patriot-viper .ms_hersteller {}

#patriot-viper .ms_hersteller_overlay {}

#patriot-viper .ms_hersteller_overlay {}

#patriot-viper .ms_hersteller_overlay div {}

#patriot-viper .ms_hersteller img {}

#patriot-viper .ms_hersteller h3 {}

#patriot-viper .ms_hersteller p {}

#patriot-viper .ms_hersteller img {}

#patriot-viper .ms_links, #patriot-viper .ms_prod {
  background-image: url(http://emoji.kunden.loewenstark.de/wordpress/wp-content/uploads/patriot-produkt-bg.jpg);
  background-color: #fff;
  background-size: cover;
  background-position: center;
}

/* Mobile*/
@media screen and (max-width: 1670px) {}

@media screen and (max-width: 850px) {}

@media screen and (max-width: 750px) {}

@media screen and (max-width: 600px) {
  #patriot-viper h1 {
    width: 100%;
    background: #fc0000;
  }

  #patriot-viper .ms_links div {
    flex: 0 1 45%;
  }

  #patriot-viper .ms_fragen div {
    flex: 0 0 100%;
  }

  #patriot-viper .product_single_row p {
    padding: 0;
    margin: 0;
    text-align: justify;
  }

  #patriot-viper .msres_textarea div {
    flex: 0 0 100%;
    padding: 10px;
  }

  #patriot-viper .msres_textarea p {
    padding: 10px 0px;
    font-size: 16px;
  }

  #patriot-viper .ms_single {
    margin: 20px 5px;
  }

  #patriot-viper .ms_prod div {
    flex: 0 0 50%;
  }

  #patriot-viper .ms_prod img {
    max-width: 160px;
  }

  #patriot-viper .flexbox-container div {
    flex: 0 0 90%;
    padding-right: 5px;
  }

  #patriot-viper .ms_hersteller_overlay div {
    flex: 0 0 100%;
    padding: 0px;
  }
}