#seagate {
  background: #000;
  color: #fff;
}

#seagate .barracuda, #seagate .firecuda, #seagate .ironwolf, #seagate .skyhawk, #seagate .nytro {
  padding: 20px 10px;
  margin: 0;
}

#seagate .barracuda span, #seagate .firecuda span, #seagate .ironwolf span, #seagate .skyhawk span, #seagate .nytro span {
  color: #fff !important;
}

#seagate .barracuda h3, #seagate .firecuda h3, #seagate .ironwolf h3, #seagate .skyhawk h3, #seagate .nytro h3 {
  color: #fff !important;
}

#seagate .barracuda {
  background: #73C049;
  color: #fff;
}

#seagate .firecuda {
  background: #FF5100;
  color: #fff;
}

#seagate .ironwolf {
  background: #DC222E;
  color: #fff;
}

#seagate .skyhawk {
  background: #18A0DA;
  color: #fff;
}

#seagate .nytro {
  background: #FF5000;
  color: #fff;
}

#seagate h1 {
  font-size: 2.5em;
  background: #000000;
  color: #fff;
  overflow: hidden;
  line-height: 1.2em;
  border-bottom: none;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0;
}

#seagate h2 {
  font-size: 2em;
  color: #f1f1f1;
  overflow: hidden;
  text-transform: uppercase;
  line-height: 1.2em;
  border-bottom: 0px;
  margin-bottom: 0px;
  font-weight: 900;
}

#seagate h3 {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: none;
  text-align: left;
  color: #71BF4E;
  overflow: hidden;
  line-height: 1.2em;
  border-bottom: none;
}

#seagate a {
  color: #000000;
  text-decoration: underline;
}

#seagate p.kategorielink a {
  color: #000000;
}

#seagate p.kategorielink a:after {
  content: " »";
}

#seagate p, #seagate .image-text p {
  padding: 10px 0;
}

#seagate table {
  width: 100%;
  border-collapse: collapse;
  color: #fff;
  border: none;
  margin: 20px auto;
}

#seagate table tbody tr th, #catDatapage table tbody tr td {
  text-align: center;
  padding: 10px;
}

#seagate table tbody tr:nth-child(even) {
  background: #333;
}

#seagate .table-highlight {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  color: #fff;
  font-weight: 700;
}

#seagate .text-center {
  text-align: center;
}

#seagate .msres_textarea {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  clear: both;
  margin-top: 0px;
  padding: 15px 0;
}

#seagate .msres_textarea div {
  flex: 0 0 50%;
  padding: 20px;
}

#seagate .msres_textarea p {
  font-size: 16px;
}

#seagate .msres_textarea img {
  width: 100%;
}

#seagate .ms_light {
  background: #000000;
  color: #fff;
}

#seagate .ms_light a {
  color: #fff;
  text-decoration: underline;
}

#seagate .ms_light a:after {
  content: " »";
}

#seagate .ms_light h2, #seagate .ms_light h3 {
  color: #f1f1f1;
  border-bottom: none;
}

#seagate .ms_links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  clear: both;
  padding: 15px 0;
}

#seagate .ms_links h2, #seagate .ms_links h3 {
  color: #fff;
}

#seagate .ms_links img {
  width: 100%;
  margin-bottom: 10px;
}

#seagate .ms_links div {
  flex: 0 0 17%;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border: 1px solid #fff;
}

#seagate .ms_links div div {
  border: none;
  padding: 0px;
  display: block;
}

#seagate .ms_links div:hover {
  border: 1px solid #ccc;
}

#seagate .ms_links div div:hover {
  border: none;
}

#seagate .ms_links span {
  text-transform: uppercase;
  color: #fff;
  font-size: 1em;
  margin-top: 10px;
}

#seagate .ms_prod {
  background: #333;
  color: #fff;
  margin: 0;
}

#seagate .ms_prod span {
  font-size: 1.2em;
  color: #fff;
  padding: 5px 0;
  display: block;
}

#seagate .ms_prod p {
  padding: 15px 0;
}

#seagate .ms_prod a {
  text-decoration: none;
}

#seagate .ms_prod img {
  max-width: 250px;
}

#seagate a.ms_prod_name {
  font-family: 'Roboto_Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 5px 0;
  padding: 0;
  transition: all .3s;
}

#seagate a.ms_prod_name:hover {
  text-decoration: none;
  transition: all .3s;
}

#seagate .ms_prod_artnr {
  color: rgba(160, 160, 160, 1.0);
  margin: 5px 0;
  padding: 0;
  font-size: 1em;
}

#seagate .ms_button {
  font-size: 1em;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  background: #71BF4E;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border: 1px solid #71BF4E;
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 0;
  transition: all .3s
}

#seagate .ms_button::after {
  content: none;
}

#seagate .ms_button:hover {
  color: #71BF4E;
  background: #fff;
  border: 1px solid #71BF4E;
  text-decoration: none;
  transition: all .5s;
}

#seagate .image-text .ms_button {
  background: #fff;
  color: #000;
  border: none;
}

#seagate .image-text .ms_button:hover {
  background: #000;
  color: #fff;
}

#seagate .ms_vergleich {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  clear: both;
  margin-top: 20px;
  padding: 15px 0;
}

#seagate .ms_vergleich img {
  width: 100%;
  padding: 10px;
}

#seagate .ms_vergleich div {
  padding-bottom: 20px;
  flex: 0 1 12%;
}

#seagate .ms_vergleich span {
  display: block;
}

#seagate .ms_vergleich .ms_prod_name {
  font-family: 'Roboto_Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.7em;
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 5px 0;
  padding: 0;
  transition: all .3s;
}

#seagate .image-text div {
  text-align: left;
  padding: 0 20px;
}

#seagate div.unterboxen div {
  border: 1px solid #595f65;
  padding: 20px;
  margin: 20px;
  flex: 0 0 45%;
  background: #333;
}

#seagate div.unterboxen div h3 {
  color: #fff;
  border: none;
}

#seagate .product_single_row {
  margin: 0px;
  border: 0px;
}

#seagate .product_single_row img {
  border: 0px;
  padding: 0px;
}

#seagate .product_single_row .ms_button {
  background: #fff;
  color: #000;
  border: none;
}

#seagate .product_single_row .ms_button:hover {
  background: #000;
  color: #fff;
}

#seagate .ms_fragen {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  clear: both;
}

#seagate .ms_fragen div {
  flex: 0 0 48%;
  margin: 10px;
  background: #fff;
  border: 2px dashed #000000;
}

#seagate .ms_fragen p {
  line-height: 1.5em;
  padding: 15px;
}

/* Mobile*/
@media screen and (max-width: 1670px) {}

@media screen and (max-width: 850px) {}

@media screen and (max-width: 750px) {}

@media screen and (max-width: 600px) {
  #seagate .ms_links div {
    flex: 0 1 45%;
  }

  #seagate .ms_fragen div {
    flex: 0 0 100%;
  }

  #seagate .product_single_row p {
    padding: 0;
    margin: 0;
  }

  #seagate .msres_textarea div {
    flex: 0 0 100%;
  }

  #seagate .msres_textarea p {
    padding: 10px 0px;
    margin: 0;
    font-size: 16px;
  }

  </style>