#iiyama {
  background: #fff;
  color: #333333;
}

#iiyama .blackhawk, #iiyama .redeagle, #iiyama .silvercrow, #iiyama .goldphoenix {
  padding: 20px 10px;
  margin: 0;
  background-color: #BABCBB;
}

#iiyama .blackhawk span, #iiyama .redeagle span, #iiyama .silvercrow span, #iiyama .goldphoenix span {
  color: #fff !important;
}

#iiyama .blackhawk a {
  font-size: 1.2em;
  display: inline-block;
  text-transform: none;
  color: #fff;
  border: none;
  background: #000;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 10px 20px;
}

#iiyama .blackhawk img {
  background: #000;
  padding: 20px;
}

#iiyama .redeagle a {
  font-size: 1.2em;
  display: inline-block;
  text-transform: none;
  color: #fff;
  border: none;
  background: #E40823;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 10px 20px;
}

#iiyama .redeagle img {
  background: #E40823;
  padding: 20px;
}

#iiyama .silvercrow a {
  font-size: 1.2em;
  display: inline-block;
  text-transform: none;
  color: #fff;
  border: none;
  background: #555;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 10px 20px;
}

#iiyama .silvercrow img {
  background: #555;
  padding: 20px;
}

#iiyama .goldphoenix a {
  font-size: 1.2em;
  display: inline-block;
  text-transform: none;
  color: #fff;
  border: none;
  background: #CF9F3B;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 10px 20px;
}

#iiyama .goldphoenix img {
  background: #CF9F3B;
  padding: 20px;
}

#iiyama h1 {
  font-size: 2.5em;
  background: #148EC9;
  color: #fff;
  overflow: hidden;
  line-height: 1.2em;
  border-bottom: none;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0;
}

#iiyama h2 {
  font-size: 2.2em;
  font-weight: 900;
  letter-spacing: -1px;
  color: #333333;
  overflow: hidden;
  text-transform: none;
  line-height: 1.2em;
  border-bottom: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

#iiyama h3 {
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: -1px;
  color: #333333;
  overflow: hidden;
  text-transform: none;
  line-height: 1.2em;
  border-bottom: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

#iiyama a {
  color: #148EC9;
  text-decoration: none;
}

#iiyama strong {
  color: #148EC9 !important;
}

#iiyama p.kategorielink a {
  color: #000;
}

#iiyama p.kategorielink a:after {
  content: " »";
}

#iiyama p, #iiyama .image-text p {
  padding: 10px 10px 0px 0px;
}

#iiyama ul li {
  text-align: center;
}

#iiyama table {
  width: 100%;
  border-collapse: collapse;
  color: #fff;
  border: 1px solid #BABCBB;
  margin: 20px auto;
}

#iiyama table tbody tr th, #catDatapage table tbody tr td {
  text-align: center;
  padding: 10px;
}

#iiyama table tbody tr:nth-child(even) {
  background: #565656;
}

#iiyama table tbody tr:nth-child(odd) {
  background: #323131;
}

#iiyama .table-highlight {
  font-weight: 700;
  border-left: none;
  border-right: none;
  color: #fff;
  background: #148EC9;
  opacity: 0.75;
}

#iiyama .flexbox-container div {
  flex: 0 0 50%;
  padding-right: 20px;
}

#iiyama .flexbox-container img {
  max-width: 100%;
}

#iiyama .text-center {
  text-align: center;
}

#iiyama .msres_textarea {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  clear: both;
  margin-top: 0px;
  padding: 15px 0;
}

#iiyama .msres_textarea div {
  flex: 0 0 48%;
  padding: 10px 20px;
  margin: 10px 10px;
}

#iiyama .msres_textarea h3 {
  color: #fff;
}

#iiyama .msres_textarea p {
  font-size: 14px;
  color: #fff;
}

#iiyama .msres_textarea img {
  width: 100%;
  padding-right: 10px;
}

#iiyama .ms_light {
  background: #148EC9;
  color: #fff;
}

#iiyama .ms_light a {
  color: #fff;
  text-decoration: underline;
}

#iiyama .ms_light a:after {
  content: " »";
}

#iiyama .ms_light h2, #iiyama .ms_light h3 {
  color: #fff;
  border-bottom: none;
  margin-left: 0px
}

#iiyama .ms_links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  clear: both;
  background: #BABCBB;
  padding: 15px 0;
}

#iiyama .ms_links h2, #iiyama .ms_links h3 {
  color: #148EC9;
}

#iiyama .ms_links img {
  width: 100%;
  margin-bottom: 10px;
}

#iiyama .ms_links div {
  flex: 0 0 20%;
  padding-bottom: 20px;
  margin-bottom: 10px;
  background: #fff;
}

#iiyama .ms_links div div {
  border: none;
  padding: 0px;
  display: block;
}

#iiyama .ms_links div:hover {
  border: 2px solid #25C5EC;
}

#iiyama .ms_links span {
  text-transform: none;
  color: #148EC9;
  font-size: 1em;
  margin-top: 10px;
}

#iiyama .ms_prod {
  background: none;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  clear: both;
  padding: 15px 0;
}

#iiyama .ms_prod div {
  flex: 0 0 45%;
}

#iiyama .ms_prod span {
  display: block;
  margin-top: 10px;
}

#iiyama .ms_prod p {
  padding: 0;
}

#iiyama .ms_prod img {
  max-width: 100%;
}

#iiyama .row.ms_prod a {
  text-decoration: none;
}

#iiyama span.ms_prod_name {
  font-size: 1.2em;
  font-weight: 900;
  letter-spacing: -1px;
  color: #959595;
  overflow: hidden;
  text-transform: none;
  line-height: 1.2em;
  border-bottom: 0px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#iiyama .ms_prod_artnr {
  color: #333;
  margin: 5px 0;
  padding: 0;
  font-size: 1em;
}

#iiyama .ms_prod .ms_button {
  font-size: 1.2em;
  display: inline-block;
  color: #fff;
  background: #148EC9;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 10px 20px;
}

#iiyama .ms_prod a {
  text-decoration: none;
}

#iiyama .ms_button {
  font-size: 1.2em;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  background: #148EC9;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border: 1px solid #148EC9;
  margin: 20px 10px;
  padding: 10px 20px;
  border-radius: 0;
  transition: all .3s
}

#iiyama .ms_button::after {
  content: none;
}

#iiyama .ms_button:hover {
  color: #fff;
  border: 2px solid #25C5EC;
  background: #25C5EC;
  text-decoration: none;
  transition: all .5s;
}

#iiyama .ms_vergleich {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  clear: both;
}

#iiyama .ms_vergleich img {
  width: 100%;
  padding: 10px;
}

#iiyama .ms_vergleich div {
  padding-bottom: 20px;
  flex: 0 1 25%;
}

#iiyama .ms_vergleich span {
  display: block;
}

#iiyama .ms_vergleich .ms_prod_name {
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 5px 0;
  padding: 0;
  transition: all .3s;
}

#iiyama .image-text div {
  text-align: left;
  padding: 0 20px;
}

#iiyama div.unterboxen {
  background: #BABCBB;
}

#iiyama div.unterboxen div {
  background: #fff;
  border: none;
  padding: 20px;
  margin: 20px;
  flex: 0 0 45%;
}

#iiyama div.unterboxen div h3 {
  border: none;
  color: #333333;
}

#iiyama .product_single_row {
  margin: 20px 20px;
  border: 0px;
}

#iiyama .product_single_row img {
  max-width: 300px;
  margin: 0 auto;
}

#iiyama .fragen {
  border: none;
  background: #148EC9;
  color: #fff;
}

#iiyama .fragen h2 {
  color: #fff;
}

#iiyama .ms_fragen {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  clear: both;
}

#iiyama .ms_fragen div {
  flex: 0 0 48%;
  margin: 10px;
  background: #fff;
  border: 2px dashed #000000;
}

#iiyama .ms_fragen p {
  line-height: 1.5em;
  padding: 15px;
}

#iiyama .ms_hersteller_overlay {
  background: rgba(255, 255, 255, 0.45);
}

#iiyama .ms_hersteller h3 {
  color: #000;
}

#iiyama .ms_hersteller p {
  color: #000;
  background: rgba(255, 255, 255, 0.75);
}

#iiyama .msres_textarea {
  background-image: url(http://emoji.kunden.loewenstark.de/wordpress/wp-content/uploads/black-hawk-features-bg.jpg);
  background-color: #fff;
  background-size: cover;
  background-position: center;
}

#iiyama .ms_links, #iiyama .ms_prod {
  background-image: url(http://emoji.kunden.loewenstark.de/wordpress/wp-content/uploads/iiyama-produkt-bg.jpg);
  background-color: #fff;
  background-size: cover;
  background-position: center;
}

/* Mobile*/
@media screen and (max-width: 1670px) {}

@media screen and (max-width: 850px) {}

@media screen and (max-width: 750px) {}

@media screen and (max-width: 600px) {
  #iiyama .ms_links div {
    flex: 0 1 45%;
  }

  #iiyama .ms_fragen div {
    flex: 0 0 100%;
  }

  #iiyama .ms_prod div {
    flex: 0 0 48%;
  }

  #iiyama .product_single_row p {
    padding: 0;
    margin: 0;
  }

  #iiyama .msres_textarea div {
    flex: 0 0 100%;
  }

  #iiyama .msres_textarea p {
    padding: 10px 0px;
    margin: 0;
    font-size: 16px;
  }
}