#logitech {
  background: #000;
  color: #fff;
}

#logitech h1 {
  font-size: 2.5em;
  color: #fff;
  overflow: hidden;
  line-height: 1.2em;
  border-bottom: none;
  text-transform: uppercase;
}

#logitech h2 {
  font-size: 2em;
  color: #fff;
  overflow: hidden;
  line-height: 1.2em;
  border-bottom: none;
  text-transform: uppercase;
}

#logitech h3 {
  font-size: 1.5em;
  text-transform: none;
  text-align: left;
  color: #fff;
  overflow: hidden;
  line-height: 1.2em;
  border-bottom: 3px solid #1db1f1;
  padding-left: 10px;
}

#logitech a {
  color: #1db1f1;
}

#logitech p.kategorielink a {
  color: #1db1f1;
}

#logitech p.kategorielink a:after {
  content: " »";
}

#logitech p, #logitech .image-text p {
  padding: 10px;
}

#logitech table {
  width: 100%;
  border-collapse: collapse;
  color: #fff;
  border: 1px solid #f1f1f1;
  margin: 20px auto;
}

#logitech table tbody tr th, #logitech table tbody tr td {
  text-align: center;
  padding: 10px;
}

#logitech table tbody tr:nth-child(even) {
  background: #555;
}

#logitech table tbody tr:nth-child(odd) {
  background: #333;
}

#logitech table tbody td:nth-child(0n+1) {
  text-align: left;
  font-weight: 700;
}

#logitech .table-highlight {
  border-left: 2px solid #1db1f1;
  border-right: 2px solid #1db1f1;
  color: #1db1f1;
  font-weight: 700;
}

#logitech .text-center {
  text-align: center;
}

#logitech .msres_textarea {
  width: 100%;
  min-height: 250px;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 20px;
  float: left;
}

#logitech .msres_textarea p {
  padding: 20px;
  font-size: 16px;
}

#logitech .ms_light {
  background: #1db1f1;
  color: #000;
}

#logitech .ms_light a {
  color: #000;
  text-decoration: underline;
}

#logitech .ms_light a:after {
  content: " »";
}

#logitech .ms_light h2, #logitech .ms_light h3 {
  color: #555;
}

#logitech .ms_links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  clear: both;
  margin-top: 20px;
  padding: 15px 0;
}

#logitech .ms_links h2, #logitech .ms_links h3 {
  color: #fff;
}

#logitech .ms_links img {
  width: 100%;
  margin-bottom: 10px;
}

#logitech .ms_links div {
  flex: 0 1 17%;
  border: 5px solid #777;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

#logitech .ms_links div div {
  border: none;
  padding: 0px;
  display: block;
}

#logitech .ms_links div div:hover span {
  color: #1db1f1;
}

#logitech .ms_links div:hover {
  border: 5px solid #1db1f1;
}

#logitech .ms_links div div:hover {
  border: none;
}

#logitech .ms_links span {
  text-transform: uppercase;
  color: #fff;
  font-size: 1em;
  margin-top: 10px;
}

#logitech .ms_prod {
  background: #000;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  clear: both;
  margin-top: 20px;
  padding: 15px 0;
}

#logitech .ms_prod div {
  flex: 0 0 20%;
  background: #333;
}

#logitech .ms_prod span {
  display: block;
  margin-top: 10px;
}

#logitech .ms_prod p {
  padding: 0;
}

#logitech .ms_prod img {
  max-width: 100%;
}

#logitech .row.ms_prod a {
  text-decoration: none;
}

#logitech a.ms_prod_name {
  font-size: 1.5em;
  line-height: 1.5em;
  color: #1db1f1;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 5px 0;
  padding: 0;
  transition: all .3s;
}

#logitech a.ms_prod_name:hover {
  text-decoration: none;
  transition: all .3s;
}

#logitech .ms_prod_artnr {
  color: rgba(160, 160, 160, 1.0);
  margin: 5px 0;
  padding: 0;
  font-size: 1em;
}

#logitech .ms_prod_prize {
  font-size: 2em;
  color: inherit;
  margin: 10px 0 0;
  padding: 0;
}

#logitech .ms_prod_ust {
  font-size: .8em;
  color: rgba(160, 160, 160, 1.0);
  margin: 0;
  padding: 0;
}

#logitech .ms_prod_ust a {
  color: inherit;
  font-size: inherit;
  text-decoration: underline;
}

#logitech .ms_button {
  font-size: 1em;
  display: inline-block;
  text-transform: uppercase;
  color: #1db1f1;
  font-weight: 700;
  border: 2px solid #1db1f1;
  text-align: center;
  text-decoration: none;
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 0;
  transition: all .3s
}

#logitech .ms_button::after {
  content: none;
}

#logitech .ms_button:hover {
  color: #fff;
  background: none;
  border: 2px solid #fff;
  text-decoration: none;
  transition: all .5s;
}

#logitech .fragen {
  background: #f1f1f1;
  color: #000;
}

#logitech .fragen h2 {
  color: #000;
  padding: 0;
}

#logitech .ms_vergleich {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  clear: both;
  margin-top: 20px;
  padding: 15px 0;
}

#logitech .ms_vergleich img {
  width: 100%;
  padding: 10px;
}

#logitech .ms_vergleich div {
  padding-bottom: 20px;
  flex: 0 1 12%;
}

#logitech .ms_vergleich span {
  display: block;
}

#logitech .ms_vergleich .ms_prod_name {
  font-family: 'Roboto_Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.7em;
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 5px 0;
  padding: 0;
  transition: all .3s;
}

#logitech .image-text div {
  text-align: left;
  background: #000;
  color: #fff;
  padding: 0 20px;
}

#logitech .markenseite div.unterboxen.serien div {
  flex: 0 0 48%;
}

#logitech .markenseite div.unterboxen.serien div h3 {
  text-align: left;
  border: none;
  padding: 0;
  margin: 0;
}

#logitech .markenseite div.unterboxen.serien div p {
  text-align: left;
}

#logitech .markenseite div.unterboxen.serien div img {
  max-width: 80%;
  margin-top: 10px;
}

#logitech .markenseite div.unterboxen.serien div {
  background: #333;
  margin: 10px;
  border-top: 4px solid #1db1f1;
}

#logitech .markenseite div.unterboxen.serien div:hover {
  border-top: 4px solid #fff;
}

#logitech div.unterboxen div h3 {
  border-bottom: none;
  text-align: center;
  color: #1db1f1;
  display: block;
}

#logitech .product_single_row {
  margin: 10px 20px;
}

#logitech .product_single_row img {
  border: 5px solid #1db1f1;
  padding: 10px;
  background: #fff;
}

#logitech .product-column {
  width: 33%;
}

/* Mobile*/
@media screen and (max-width: 1670px) {}

@media screen and (max-width: 850px) {}

@media screen and (max-width: 750px) {}

@media screen and (max-width: 600px) {
  #logitech table td {
    min-width: 200px;
  }

  #logitech .ms_prod div {
    flex: 0 0 48%;
  }

  #logitech .ms_links div {
    flex: 0 0 48%;
  }

  </style>