@import url("https://cdn.loewenstark.info/data/x-gridflex.css");
@import url("https://cdn.loewenstark.info/data/temp-vispronet.css");

/*00-Basics*/
#VispronetBranchen h2 {
  font-size: 2em;
  background: #f1f1f1;
  text-align: left;
  padding: 20px;
  color: #0062a1;
}

#VispronetBranchen h2:after {
  content: "";
  display: block;
  width: 10%;
  padding-top: 10px;
  border-bottom: 3px solid #0062a1;
}

#VispronetBranchen h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #0062a1;
}

#VispronetBranchen a:hover {
  color: #83B817;
}

/*01-Generator*/
#VispronetBranchen .is--seotext-content h3 {
  margin: 10px 0;
}

#VispronetBranchen .is--seotext-content p {
  padding: 10px 20px;
  margin: 0;
}

#VispronetBranchen aside.aside.aside-2 {
  padding: 0 20px;
}

#VispronetBranchen aside.aside.aside-2 h3 {
  text-align: left;
}

#VispronetBranchen aside.aside.aside-2 p {
  text-align: left;
}

#VispronetBranchen button.textkacheln-button {
  background: #83B817;
  padding: 10px;
  border: 2px solid #83B817;
  width: 80%;
  color: #fff;
  transition: all 1s ease;
  -webkit-transition: all .5s ease;
}

#VispronetBranchen button.textkacheln-button:hover {
  background: none;
  border: 2px solid #83B817;
  color: #83B817;
  transition: all 1s ease;
  -webkit-transition: all .5s ease;
}

#VispronetBranchen button.textkacheln-button span:hover {
  color: #83B817;
}

#VispronetBranchen .textkacheln-gesamt h3 {
  text-align: center;
  font-size: 1em;
}

#VispronetBranchen .katkachel {
  background: #f1f1f1;
}

#VispronetBranchen .katkacheln-text p {
  padding: 15px;
}

#VispronetBranchen .katkachel a {
  text-decoration: none;
}

#VispronetBranchen .katkacheln-text {
  text-align: center;
}

#VispronetBranchen .llpages-autocontent-links {
  line-height: 1.5em;
  font-size: 1em;
  background: #f1f1f1;
  width: fit-content;
  padding: 20px;
  border: 2px dashed #83B817;
}

/*02-Spezielle Klassen*/
#VispronetBranchen .leo_bg_image p {
  padding: 30px;
  margin: 0 auto;
  width: 80%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

#VispronetBranchen .leo_bg_image div div {
  background-size: cover;
  min-height: 540px;
  display: flex;
  align-items: center;
}

#VispronetBranchen .leo_bg_image h1 {
  position: relative;
  top: 100px;
  width: 50%;
  padding: 10px;
  font-size: 2em;
  font-weight: 300;
  color: #fff;
  background: #F7A714;
}

#VispronetBranchen .leo_bg_image h2 {
  position: relative;
  top: 110px;
  width: 40%;
  padding: 10px;
}

#VispronetBranchen .leo_bg_image h2 {
  font-size: 1.5em;
  background: #f1f1f1;
  color: #333;
  background: #fff;
}

#VispronetBranchen .leo_bg_image h2:after {
  display: none;
  border-bottom: none;
}

#VispronetBranchen .leo_bg_color p {
  padding: 25px;
  color: #fff;
}

/* Mobile*/
@media screen and (max-width: 1670px) {}

@media screen and (max-width: 850px) {}

@media screen and (max-width: 750px) {}

@media screen and (max-width: 600px) {
  #VispronetBranchen {
    padding: 10px;
  }

  #VispronetBranchen .llpages-grid .llpages-gridrow .llpages-gridcell img {
    width: 100%;
  }

  #VispronetBranchen .katkacheln-text p {
    min-height: auto;
    padding: 5px;
    top: 0px;
  }

  #VispronetBranchen .leo_bg_image h1 {
    width: 100%;
    text-align: center;
    top: 0px;
  }

  #VispronetBranchen .leo_bg_image h2 {
    width: 100%;
    text-align: center;
    top: 0px;
  }
}